In [51]:
import pandas as pd
import numpy as np
from sklearn import *

games = pd.read_csv('./Data/NCAATourneyCompactResults.csv')

#Add Ids
games['ID'] = games.apply(lambda r: '_'.join(map(str, [r['Season']]+sorted([r['WTeamID'],r['LTeamID']]))), axis=1)
games['IDTeams'] = games.apply(lambda r: '_'.join(map(str, sorted([r['WTeamID'],r['LTeamID']]))), axis=1)
games['Team1'] = games.apply(lambda r: sorted([r['WTeamID'],r['LTeamID']])[0], axis=1)
games['Team2'] = games.apply(lambda r: sorted([r['WTeamID'],r['LTeamID']])[1], axis=1)
games['IDTeam1'] = games.apply(lambda r: '_'.join(map(str, [r['Season'], r['Team1']])), axis=1)
games['IDTeam2'] = games.apply(lambda r: '_'.join(map(str, [r['Season'], r['Team2']])), axis=1)

#Add Seeds
seeds = pd.read_csv('./Data/NCAATourneySeeds.csv')
seeds = {'_'.join(map(str,[int(k1)+1,k2])):int(v[1:3]) for k1, v, k2 in seeds.values}
#add 2018 Seeds
seeds = {**seeds, **{k.replace('1999_','1998_'):seeds[k] for k in seeds if '1999_' in k}}

games['Team1Seed'] = games['IDTeam1'].map(seeds).fillna(0)
games['Team2Seed'] = games['IDTeam2'].map(seeds).fillna(0)

In [53]:
games.head()

,Season,DayNum,WTeamID,WScore,LTeamID,LScore,WLoc,NumOT,ID,IDTeams,Team1,Team2,IDTeam1,IDTeam2,Team1Seed,Team2Seed
0,1985,136,1116,63,1234,54,N,0,1985_1116_1234,1116_1234,1116,1234,1985_1116,1985_1234,0.0,0.0
1,1985,136,1120,59,1345,58,N,0,1985_1120_1345,1120_1345,1120,1345,1985_1120,1985_1345,0.0,0.0
2,1985,136,1207,68,1250,43,N,0,1985_1207_1250,1207_1250,1207,1250,1985_1207,1985_1250,0.0,0.0
3,1985,136,1229,58,1425,55,N,0,1985_1229_1425,1229_1425,1229,1425,1985_1229,1985_1425,0.0,0.0
4,1985,136,1242,49,1325,38,N,0,1985_1242_1325,1242_1325,1242,1325,1985_1242,1985_1325,0.0,0.0

In [59]:
games['ScoreDiff'] = games['WScore'] - games['LScore']
games['Pred'] = games.apply(lambda r: 1. if sorted([r['WTeamID'],r['LTeamID']])[0]==r['WTeamID'] else 0., axis=1)
games['ScoreDiffNorm'] = games.apply(lambda r: r['ScoreDiff'] * -1 if r['Pred'] == 0. else r['ScoreDiff'], axis=1)
games['SeedDiff'] = games['Team1Seed'] - games['Team2Seed']
games = games.fillna(-1)

sdn = games.groupby(['IDTeams'], as_index=False)[['ScoreDiffNorm']].mean()
sdn.head()

     IDTeams  ScoreDiffNorm
0  1102_1228           -9.0
1  1102_1314          -11.0
2  1103_1211          -13.0
3  1103_1276           -6.0
4  1103_1323          -13.0

In [58]:
sub = pd.read_csv('./Data/SampleSubmissionStage1.csv')
sub['Season'] = sub['ID'].map(lambda x: x.split('_')[0])
sub['Team1'] = sub['ID'].map(lambda x: x.split('_')[1])
sub['Team2'] = sub['ID'].map(lambda x: x.split('_')[2])
sub['IDTeams'] = sub.apply(lambda r: '_'.join(map(str, [r['Team1'], r['Team2']])), axis=1)
sub['IDTeam1'] = sub.apply(lambda r: '_'.join(map(str, [r['Season'], r['Team1']])), axis=1)
sub['IDTeam2'] = sub.apply(lambda r: '_'.join(map(str, [r['Season'], r['Team2']])), axis=1)
sub['Team1Seed'] = sub['IDTeam1'].map(seeds).fillna(0)
sub['Team2Seed'] = sub['IDTeam2'].map(seeds).fillna(0)
sub = pd.merge(sub, sdn, how='left', on=['IDTeams'])
sub['ScoreDiffNorm'] = sub['ScoreDiffNorm'].fillna(0.)
sub['SeedDiff'] = sub['Team1Seed'] - sub['Team2Seed']
sub.head()

,ID,Pred,Season,Team1,Team2,IDTeams,IDTeam1,IDTeam2,Team1Seed,Team2Seed,ScoreDiffNorm,SeedDiff
0,2014_1107_1110,0.5,2014,1107,1110,1107_1110,2014_1107,2014_1110,15.0,0.0,0.0,15.0
1,2014_1107_1112,0.5,2014,1107,1112,1107_1112,2014_1107,2014_1112,15.0,6.0,0.0,9.0
2,2014_1107_1113,0.5,2014,1107,1113,1107_1113,2014_1107,2014_1113,15.0,0.0,0.0,15.0
3,2014_1107_1124,0.5,2014,1107,1124,1107_1124,2014_1107,2014_1124,15.0,0.0,0.0,15.0
4,2014_1107_1140,0.5,2014,1107,1140,1107_1140,2014_1107,2014_1140,15.0,0.0,0.0,15.0

In [69]:
col = [c for c in games.columns if c not in ['ID', 'IDTeams','IDTeam1','IDTeam2','Pred','DayNum', 'WTeamID', 'WScore', 'LTeamID', 'LScore', 'WLoc', 'NumOT', 'ScoreDiff']]
col

['Season',
 'Team1',
 'Team2',
 'Team1Seed',
 'Team2Seed',
 'ScoreDiffNorm',
 'SeedDiff']

In [65]:
sub.columns

Index(['ID', 'Pred', 'Season', 'Team1', 'Team2', 'IDTeams', 'IDTeam1',
       'IDTeam2', 'Team1Seed', 'Team2Seed', 'ScoreDiffNorm', 'SeedDiff'],
      dtype='object')

In [67]:
games.columns

Index(['Season', 'DayNum', 'WTeamID', 'WScore', 'LTeamID', 'LScore', 'WLoc',
       'NumOT', 'ID', 'IDTeams', 'Team1', 'Team2', 'IDTeam1', 'IDTeam2',
       'Team1Seed', 'Team2Seed', 'ScoreDiff', 'Pred', 'ScoreDiffNorm',
       'SeedDiff'],
      dtype='object')

In [68]:
games.head()

,Season,DayNum,WTeamID,WScore,LTeamID,LScore,WLoc,NumOT,ID,IDTeams,Team1,Team2,IDTeam1,IDTeam2,Team1Seed,Team2Seed,ScoreDiff,Pred,ScoreDiffNorm,SeedDiff
0,1985,136,1116,63,1234,54,N,0,1985_1116_1234,1116_1234,1116,1234,1985_1116,1985_1234,0.0,0.0,9,1.0,9,0.0
1,1985,136,1120,59,1345,58,N,0,1985_1120_1345,1120_1345,1120,1345,1985_1120,1985_1345,0.0,0.0,1,1.0,1,0.0
2,1985,136,1207,68,1250,43,N,0,1985_1207_1250,1207_1250,1207,1250,1985_1207,1985_1250,0.0,0.0,25,1.0,25,0.0
3,1985,136,1229,58,1425,55,N,0,1985_1229_1425,1229_1425,1229,1425,1985_1229,1985_1425,0.0,0.0,3,1.0,3,0.0
4,1985,136,1242,49,1325,38,N,0,1985_1242_1325,1242_1325,1242,1325,1985_1242,1985_1325,0.0,0.0,11,1.0,11,0.0

In [ ]:
reg = linear_model.Ridge(random_state=18)
reg.fit(games[col], games['Pred'])
sub['Pred'] = reg.predict(sub[col]).clip(0.,1.) * 0.4

reg = linear_model.HuberRegressor()
reg.fit(games[col], games['Pred'])
sub['Pred'] += reg.predict(sub[col]).clip(0.,1.) * 0.6

sub[['ID','Pred']].to_csv('rh3p_submission.csv', index=False)